.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table-cell {
  font-size: 22px !important;
  font-weight: bold !important;
}

.card-image {
  width: 100% !important;
  height: 100vh !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.btn-green {
  background-color: #bdde5e !important;
  color: black !important;
}

.header {
  background-color: #bdde5e !important;
  color: black !important;
}

.btn-add {
  background-color: #bdde5e !important;
  color: black !important;
  margin-top: 74px !important;
  float: right !important;
  margin-right: 10px;
}

.paragraph {
  margin-top: 83px !important;
}

.header-table {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 17px;
}

.table-cell {
  padding: 8px;
}

.no-data {
  font-weight: bold;
}

.header-font {
  flex-grow: 1;
  text-align: left;
  font-size: 24px;
}

.link-name {
  font-size: 19px !important;
}

.modal{
  border-radius: 6px !important;
}